<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="jpiere.base.plugin.factory.JPiereBasePluginTaxProviderFactory"
         point="org.adempiere.model.ITaxProvider">
   </extension>
   <extension
         id="jpiere.base.plugin.org.adempiere.impexp.JPiereGridTabCSVExporter"
         name="JPiere Grid data CSV exporter"
         point="org.adempiere.base.IGridTabExporter">
      <exporter
            class="jpiere.base.plugin.org.adempiere.impexp.JPiereGridTabCSVExporter"
            priority="1">
      </exporter>
   </extension>
      <extension
         id="jpiere.base.plugin.org.adempiere.impexp.JPiereGridTabCSVImporter"
         name="JPiere Grid data CSV Importer"
         point="org.adempiere.base.IGridTabImporter">
      <exporter
            class="jpiere.base.plugin.org.adempiere.impexp.JPiereGridTabCSVImporter"
            priority="1">
      </exporter>
   </extension>
</plugin>
